@import "Vendors/bootstrap/assets/stylesheets/bootstrap";
@import "Vendors/font-awesome/scss/font-awesome";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700i,800,300,300i');
@import "mixins";
@import "variaveis";


//
// 		@media #{$variável_breakpoint} {}
//
$hd: "screen and (min-width: 1800px)";
$desktop: "screen and (min-width: 1120px) and (max-width: 1799px)";
$tablet: "screen and (min-width: 641px) and (max-width: 1119px)";
$mobile: "screen and (min-width:321px) and (max-width: 640px)";
$small: "screen and (max-width:320px)";



a:hover, a:focus{
	text-decoration: none;
	color: #222;
}
a{
	color: #222;
}
span{
	font-weight: 100;
}

html,body{
	height: 100%;
	margin:0;
	padding: 0;
	width: 100%
}
.content{
	color: #fff;
	height: 4000px;
	@include bg();
	margin: 0 auto;
	.header{
		width: 100%;
		height: 100%;
			h1{
				font-weight: bold;
				text-align: center;
				font-size: 55px;
				margin: 95px auto;
			}
		.weather{
			margin: 0 auto;
		    width: 500px;
		    background: #fff2e4;
		    color: #505050;
		    padding: 20px 0 20px 54px;
		    @media #{$mobile, $small}{
				width: 100%;
				padding: 10px 24px;
			}
			i.fa{
			    color: #ff9a00;
			    margin-right: 3px;
			}
			i.fa.fa-times{
				float: right;
			    font-size: 25px;
			    margin-right: 25px;
			    cursor: pointer;
			    color: #ff9a00;
			}
			
			h4{
				font-weight: bold;
			}
			h3{
				font-weight: bold;
    			font-size: 50px;
			}
			ul{
				list-style: none;
			    padding: 0;
			    font-size: 17px;
			    li{
			    	font-weight: bold;
			    	span{
						font-size: 100;
			    	}
				}
			}
			#modal{
				margin: 15px 0;
			    height: 2px;
			    color: #ff9832;
			    background: #ff9832;
			    width: 385px;
			}
			.days{
				ul {
		    		display: flex;
					li{
						margin-right: 35px;
						@media #{$mobile, $small}{
							margin-right: 14px;
						}
					}
				}
				.temperature li {
					color: #ff8000;
					@media #{$mobile, $small}{
							margin-right: 20px;
    						font-size: 12px;
						}
				}	
			}
		}	
		.search{
			width: 400px;
    		height: 45px;
    		margin: 85px auto;
    		
    		.searchTerm{
    			width: 350px;
			    padding: 20px;
			    font-size: 17px;
			    font-weight: 300;
   				color: #a6a6a6;
   				@include search();
   				@media #{$mobile, $small}{
				width: 270px;
				}	
    		}
    		.searchButton {
			    width: 45px;
			    position: absolute;
			    background: #fff;
			    color: #4f4f4f;
				@include search();
			} 
		}
		hr{
			width: 505px;
			margin-top:65px;
			@media #{$mobile, $small}{
				width: 100%;
			}
		}
	}
	.capitais{
		color: #000;
    	margin: 0 auto;
    	width: 500px;
    	@media #{$mobile, $small}{
			width: 270px;
			}	

    		p{
    			margin-right: 10px;
    		}
    		
		.panel-heading{
			font-size: 35px;
		    font-weight: bold;
		    color: #fff;
		    margin: 0;
		    padding: 0;
		    margin-bottom: 25px;
		}
		.container-panel1{
			width: 50%;
			
		}
			.cidades{
				display: block;
			    font-size: 25px;
			    margin-top: -9px;
			    font-size: 17px;
			    font-weight: bold;
			    margin: 0;
			    float: left;
			    @media #{$mobile, $small}{
					    display: grid;
					    width: 270px;
			}
    
    			.temp2{
					display: flex;
					p{
						font-size: 12px;
					    font-weight: 100;
					    margin-right: 15px;
					}	
    			}
			    ul{
			    	list-style: none;
    				padding-left: 0px;
    				@media #{$mobile, $small}{
						padding-left: 0;
					}
			    }
			    li{
			    	font-size: 17px;
			    }
			}
		#container-panel2{
			float: right;
    		width: 50%;	
    		@media #{$mobile, $small}{
				float: left;
				}
		}

	}
	#paises {
  		display: none;
	}
	#temp-c{
    	margin-left: 90px;
    }
    #temp-f{
    	margin-left: 55px;
    }
}
